
/FortKnox/.vs
/FortKnox/Debug
/FortKnox/x64
/FortKnox_NAK
matryoshka/LastLayer/obj/Debug/net6.0/LastLayer.assets.cache
matryoshka/LastLayer/obj/Debug/net6.0/LastLayer.csproj.AssemblyReference.cache
matryoshka/LastLayer/obj/Debug/net6.0/LastLayer.GeneratedMSBuildEditorConfig.editorconfig
matryoshka/LastLayer/obj/LastLayer.csproj.nuget.dgspec.json
matryoshka/LastLayer/obj/LastLayer.csproj.nuget.g.props
matryoshka/LastLayer/obj/project.assets.json
matryoshka/LastLayer/obj/project.nuget.cache
matryoshka/LayerTwo/obj/Debug/net6.0/LayerTwo.assets.cache
matryoshka/LayerTwo/obj/Debug/net6.0/LayerTwo.csproj.AssemblyReference.cache
matryoshka/LayerTwo/obj/Debug/net6.0/LayerTwo.GeneratedMSBuildEditorConfig.editorconfig
matryoshka/LayerTwo/obj/LayerTwo.csproj.nuget.dgspec.json
matryoshka/LayerTwo/obj/LayerTwo.csproj.nuget.g.props
matryoshka/LayerTwo/obj/project.assets.json
matryoshka/LayerTwo/obj/project.nuget.cache
matryoshka/Matryoshka/
/FortKnox/Release
/b1t_tw1ddl1ng
/matryoshka
